{
  "id": "/geolocation",
  "cmd": null,
  "cpus": 1,
  "mem": 512,
  "disk": 1000,
  "instances": 0,
  "container": {
    "type": "DOCKER",
    "volumes": [
      {
        "containerPath": "/opt/ganesh/geolocation/data",
        "hostPath": "/opt/ganesh/geolocation/data",
        "mode": "RW"
      }
    ],
    "docker": {
      "image": "manjesh80/geolocation:v3.6",
      "network": "BRIDGE",
      "portMappings": [
        {
          "containerPort": 8080,
          "hostPort": 0,
          "servicePort": 8899,
          "protocol": "tcp",
          "labels": {}
        }
      ],
      "privileged": false,
      "parameters": [],
      "forcePullImage": false
    }
  },
  "env": {
    "GEOLOCATION_DATA_FILES_DIR": "/opt/ganesh/geolocation/data"
  },
  "portDefinitions": [
    {
      "port": 8899,
      "protocol": "tcp",
      "labels": {}
    }
  ]
}